body > #corps{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#chart-container{
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bouton > a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: grey;
    height: 40px;
}