

#form_ident{
    background-color: #F0EFD9;
    border-radius: 20px;
    width: 836px;
    height: 555px;
}

#form_ident > div{
    margin: 15px 0;
}

label{
    margin-top: 15px;
}

form > #date-tel-ville {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > #date-tel-ville > input{
    text-align: center;
}

input[type="text"][name="nom"],
input[type="text"][name="prenom"],
input[type="text"][name="adresse-postale"],
input[type="text"][name="code-postal"]{
    width: 338px;
    height: 26px;
}

input[type="date"],
input[type="tel"],
input[type="text"][name="ville"]{
    width: 712px;
    height: 26px;
}

input{
    border-radius:10px;
}

#nom-prenom, #adresse-code-postal {
    display: flex;
    justify-content: space-evenly;
}

div > label, div > input, form > label:not(label[for="rgpd"]), form > input:not(input[name="rgpd"]){
    display: block;
}

#bouton-annulation, #bouton-validation{
    width: 177px;
    height: 42px;
}

#bouton-validation{
    background-color: green;
}

#bouton-annulation{
    background-color: #7C7C7C;
}

input[type="submit"]:hover, input[type="reset"]:hover{
    cursor:pointer;
    opacity: 0.90;
}

#bouton-validation:hover{
    background-color: #5CFA5C;
}

#bouton-annulation:hover{
    background-color: #C8C8C8;
}

#boutons{
    display: flex;
    justify-content: space-evenly;
}