body > #corps{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas{
    margin-block: 10px 20px;
}

#bouton > a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: grey;
    height: 40px;
}