*{
    max-width: 95%;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}

.images{
    width: 75%;
}
body #form{
    width: 80vw;
}

label[for="titre"]{
    font-size: 1.5em;
    font-weight: bold;
}

#form_ident{
    background-color: #FFFDD0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    display: inherit;
    flex-direction: column;
    align-items: center;
}

label{
    /*margin-top: 5px;*/
    margin-bottom: 15px;
}

form > #date-tel-ville, form > #categorie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > #nom-prenom, form > #adresse-code-postal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

form, input, .texte{
    text-align: center;
    font-family: Helvetica;
}

input{
    margin: 15px;
}

input[type="text"][name="nom"],
input[type="text"][name="prenom"],
input[type="text"][name="adresse-postale"],
input[type="text"][name="code-postal"]{
    width: 35vw;
    height: 30px;
}



input{
    border-radius:10px;
}

#nom-prenom, #adresse-code-postal {
    display: flex;
    justify-content: space-evenly;
}

div > label, div > input, form > label:not(label[for="rgpd"]), form > input:not(input[name="rgpd"]){
    display: block;
}


#boutons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#boutons > input{
    width: 100px;
    height: 40px;
}

#bouton-validation{
    background-color: green;
}

#bouton-annulation{
    background-color: #7C7C7C;
}

input[type="submit"]:hover, input[type="reset"]:hover{
    cursor:pointer;
    opacity: 0.90;
}

#bouton-validation:hover{
    background-color: #5CFA5C;
}

#bouton-annulation:hover{
    background-color: #C8C8C8;
}

@media screen and (min-width:100px) and (max-width : 1090px)  {
    form > #adresse-code-postal, form > #nom-prenom, #adresse-code-postal > div,
    #nom-prenom > div
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form{
        width: 95%;
    }
    input[type="date"][name="date"],
    input[type="tel"][name="tel"],
    input[type="text"][name="ville"],
    .alim-select, .aliments{
        width: 40vw;
        height: 25px;
    }
}

.alim-select,  select.aliments{
    margin-bottom: 10px;
    text-align: center;
    width: 75%;
}